/* HTML Tags */

body {
    padding: 0px;
    margin: 0px;
    color: #dfdfff;
    background-color: #000025;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

h1 {
    color: #afafef;
    text-decoration: underline;
    text-decoration-color: #6060ee;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    font-weight: 200;
}

p {
    display: block;
    width: fit-content;
}

a {
    color: rgb(10, 10, 10);
}

a:hover {
    color: rgb(50, 50, 50);
}

a:active {
    color: rgb(100, 100, 100);
}

/* Navbar */

.navbar {
    height: 10vh;
    min-height: 70px;
    background-color: #000010;
    user-select: none;
}

.nav-link {
    color: #dfdfff;
    text-decoration: none;
    margin: 0px 20px;
}

.nav-link:hover {
    text-decoration: underline;
    color: #dfdfff;
    text-decoration-color: #6060ee;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    cursor: pointer;
}

.navlink-active {
    text-decoration: underline;
    text-decoration-color: #4444ce;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

.navbar-toggler {
    border: none;
}

@media screen and (max-width: 767px) {
    .navbar-nav {
        background-color: #000010;
        padding-bottom: 10px;
    }
}

/* Main Content */

#main-content {
    min-height: 87vh;
    background-color: #000025;
    padding: 10px;
}

.section {
    width: 100%;
}

/* Home */

#aboutMe,
#portraitPhotoContainer {
    padding-top: 50px;
}

#portraitPhotoContainer {
    padding-left: 10%;
    padding-right: 10%;
}

#portraitPhoto {
    border-style: solid;
    border-width: 5px;
    border-color: #222266;
}

@media screen and (max-width: 767px) {
    #portraitPhotoContainer {
        visibility: hidden;
    }
}

/* Contact Me */

#contactContainer,
#contactInfo {
    padding-top: 50px;
}

@media screen and (max-width: 767px) {
    #contactInfo {
        height: fit-content;
        margin-bottom: 0px;
    }
}

.contactLink {
    border-radius: 10px;
    background-color: #4444ce;
    color: #dfdfff;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    margin-bottom: 25px;
}

.contactLink:hover {
    color: #dfdfff;
    text-decoration: underline;
    text-decoration-color: #222266;
    text-decoration-thickness: 2px;
}

/* Footer */

#footer {
    position: fixed;
    bottom: 0px;
    background-color: #6060ee;
    color: rgba(0, 0, 0, 0);
    width: 100vw;
    height: 3vh;
    padding: 0px 10px;
}

/* hide footer on small devices */
@media screen and (max-width: 767px) {
    #footer {
        display: none;
    }

    #main-content {
        height: 90vh;
    }
}

#footerExpandIcon {
    display: block;
    width: fit-content;
    text-align: center;
    color: rgb(10, 10, 10);
}

#footer:hover {
    color: rgba(10, 10, 10, 255);
    /* make text visible on hover */
    animation-name: transparentText;
    animation-duration: 0.3s;
    animation-direction: reverse;
    animation-iteration-count: 1;
}

/* Fades foreground colour to opacity 0 */
@keyframes transparentText {
    0% {
        color: rgba(10, 10, 10, 255);
    }
    100% {
        color: rgba(100, 100, 100, 0);
    }
}

/* Formatting */

@media screen and (min-width: 768px) {
    .borderRight-md {
        border-right-style: solid;
        border-right-width: 3px;
        border-right-color: #dfdfff;
    }
}
